*{
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
    display: inline-block;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT serif', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
header{
    font-family: 'Roboto', sans-serif;
}
.header_top{
    background-color: #303030;
}
.header_btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b !important;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}
.header_btn:before{
    content: "\f27b";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_email{
    color: #cbcacb!important;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}
.header_phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header_phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_email{
    padding-left: 24px;
}
.header_email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header_content{
    padding: 34px 0px 24px;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
    /*padding: 11px;*/
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
.menu li>a>.li_nav{
    width: 200px;
}
#modal{
    display: none;
}
.slider{
    background:  linear-gradient( rgb(81, 81, 81), rgba(0, 0, 0, 0.5) ) url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 550px;
}

.slider_item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
}
.slider_text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}
.slider_btn {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    margin-top: 50px;
}
.default_btn{
    background-color: #ffc222;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}

.slider_inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn:before{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    
}
.slick-next:before{
    content: "\ea42";
}
.slick-prev:before{
    content: "\ea44";
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}

/* services */
.services{
    padding: 50px 0px 30px;
}
.services_items{
    display: flex;
    justify-content: space-between;
}
.services_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 40px;
    position: relative;
    min-height: 250px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.services_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}


/* courses */

.courses{
    background:   linear-gradient( rgb(81, 81, 81), rgba(0, 0, 0, 0.5) ), url(../img/mainfon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 40px 0px 30px;
    max-height: 720px;
    margin-bottom: 10px;
}
.courses_items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.courses_items_2_part{
    display: flex;
    justify-content: space-between;
}
.courses_item{
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 40px;
    position: relative;
    min-height: 250px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgb(125 102 102);
}
.courses_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.courses_item-text{
    letter-spacing: 0.1px;
}
/* Footer */
.footer_content{
    background-color: #595959;
    padding: 20px 0px 30px;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
}
.footer_inner .header_btn{
    margin-top: 15px;
    float: none;
    display: inline-block;
}
.footer_map{
    padding-top: 14px;
}

.footer_title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer_text{
    color:#d3d2d2;
}
.footer_info{
    max-width: 360px;
}
.footer_list{
    padding-top: 10px;
}
.footer_list li{
    margin-top: 10px;
}
.footer_list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}

.footer_list a:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.footer_copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.footer_list .footer_phone::before{
    content: "\f095";
    font-family: 'icomoon';
    left: 3px;
}
.footer_list .footer_adress::before{
    content: "\f041";
    font-family: 'icomoon';
    left: 3px;
}

/* About us */
.about{
    background-image: url(../img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.about_inner{
    max-width: 545px;
}
.about_title{
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.about_text{
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 25px;
    color: #d3d2d2;
}

.about_btn.default_btn:after{
    color: #000;
}


/* Form */
.form__title-box,
.news__title-box{
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}
.form__title-box:before,
.news__title-box:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}
.form__title,
.news__title{
  font-size: 24px;
  font-weight: 0;
  line-height: 24px;
  color: #212020;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.form__text,
.news__text{
  letter-spacing: 0.1px;
  width:100%;
}
.form{
  padding-top: 30px;
}
.form__inner{
  padding-bottom: 40px;
  background-image: url(../img/form-fon.png);
  min-height: 460px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.form__box{
  font-weight: 200;
  max-width: 850px;
  padding-top: 45px;
}
.form__box-inner{
  display: flex;
  justify-content: space-between;
}
.form__box-left{
  max-width: 260px;
  width: 100%;
}
.form__box-right{
  max-width: 555px;
  width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select{
  display: block;
  width: 100%;
}
.form__box-inner label{
  font-weight: 200!important;
  line-height: 36px;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
  margin-bottom: 8px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
}
.form__box-inner select{
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left:17px;
}
.form__box-inner textarea{
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 44px;
}
.form__box-inner button{
    float: right;
}

.h1_reg{
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffc222;
}
.reg_private{
    margin: 0 auto;
    width: 450px;
    height: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.group{
    margin: 10px;
    padding: 5px;
}
.label_reg{
    padding-left: 10px;
    text-transform: uppercase;
}
.input_reg{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border: 0.5px solid #ffc222;
    padding-left: 15px;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
/*input.input_reg:focus{
    border: 2px solid #ffc222;
}
*/
.registration{
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: #fff;
    background: #ffc222;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
#modal{
    width: 300px;
}
#modal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#modal input[type="submit"]{
    background-color: #ffc222;
    border: none;
  }